.avatarWrapper {
  width: 80%;
  margin-top: 20;
}
.pageLeft {
  width: 50%;
  display: inline-block;
}
.pageContent {
  height: 93vh;
  border-right: 1px solid #efdcd3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  text-align: center;
}
.flags {
  height: 32px;
  display: flex;
  justify-content: center;
}
.image {
  height: 100%;
  margin: 0 20px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .pageLeft {
    width: 100%;
    display: block;
  }
  .pageContent {
    height: auto;
    padding: 20px 0;
  }
}
