.dynamicContent {
  width: 50%;
  height: 93vh;
  display: inline-block;
  position: absolute;
  overflow: auto;
  font-family: "Roboto Mono", monospace;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .dynamicContent {
    width: 100%;
    display: block;
    overflow: inherit;
  }
}
